* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
}

a {
    text-decoration: none;
    color: white
}

h1 {
    margin-top: 26px;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    margin-top: 93px;
}

li,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav {
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 1000;
    top: 90px;
    color: white
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.promo {

    min-height: 800px;
    background: url('../images/background.png') center (center / cover) no-repeat;

    &__subheader {
        font-weight: normal;
        font-size: 64px;
        line-height: 78px;
        color: #FFFFFF;

        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__content {
        margin-top: 185px;
        color: white
    }

    &__link {
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;

        text-decoration-line: underline;

        color: #FFFFFF;
        margin-top: 106px;

    }
}

.about {
    min-height: 544px;

    &__descr {
        margin-top: 76px;
    }
}

.skills {
    min-height: 693px;
    background: #FFFAF2;

    &__list-name {
        .list-name-item {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: #333333;
            margin-right: 15px;
            width: 150px;
        }
    }

    &__photo {
        margin-top: 86px;
    }

    &-table {
        display: flex;
        margin-top: 206px;

        li {
            margin-top: 20px;
        }
    }

}

.mb60 {
    margin-bottom: 60px;
}

.strip {
    position: relative;
    width: 420px;
    height: 24px;
    background-color: #F5D6AB;
    z-index: 1;

    &:nth-child(2):after {
        position: absolute;
        left: 0;
        content: '';
        width: 381px;
        height: 24px;
        background-color: #C66C49;
        z-index: 10;
    }

    &:nth-child(4):after {
        position: absolute;
        left: 0;
        content: '';
        width: 351px;
        height: 24px;
        background-color: #C66C49;
        z-index: 10;
    }

    &:nth-child(6):after {
        position: absolute;
        left: 0;
        content: '';
        width: 286px;
        height: 24px;
        background-color: #C66C49;
        z-index: 10;
    }
}

.portfolio {
    min-height: 820px;
    padding-bottom: 145px;

    .portfolio__info {
        margin-top: 86px;

        &-descr {
            width: 350px;
            margin-top: 48px;
            font-weight: normal;
            font-size: 18px;
            line-height: 30px;
            /* or 167% */

            text-align: justify;
        }
    }

    &__images {
        width: 510px;
        margin-top: 270px;
        display: grid;

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 5vw);
        grid-gap: 30px;

        &-left, &-right {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 30px;
        }
    }


    &__slider {
        margin-top: 240px;

        &-left {
            position: relative;


            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0px;
                background-color: black;
                width: 15px;
                height: 1px;
                transform: rotate(45deg);
            }

            &:after {
                content: '';
                position: absolute;
                top: -10px;
                left: 0px;
                background-color: black;
                width: 15px;
                height: 1px;
                transform: rotate(-45deg);
            }
        }

        &-right {
            position: relative;


            &:before {
                content: '';
                position: absolute;
                top: -10px;
                left: 30px;
                background-color: black;
                width: 15px;
                height: 1px;
                transform: rotate(45deg);
            }

            &:after {
                content: '';
                position: absolute;
                top: 0px;
                left: 30px;
                background-color: black;
                width: 15px;
                height: 1px;
                transform: rotate(-45deg);
            }
        }

    }

}

.contacts {
    position: relative;
    background-color: #FFFAF2;
    min-height: 400px;
    padding: 93px 0 190px 0;

    a {
        color: black;
        width: 30px;
        height: 30px;
    }

    h2 {
        margin: 0;
        margin-left: 110px;

    }

    &__list {
        margin-top: 25px;

        &-item {
            margin-top: 14px;
        }
    }

    .arrow {

        &:before {
            content: '';
            position: absolute;
            bottom: 90px;
            right: 210px;
            background-color: black;
            width: 15px;
            height: 1px;
            transform: rotate(45deg);
        }

        &:after {
            content: '';
            position: absolute;
            bottom: 90px;
            right: 220px;
            background-color: black;
            width: 15px;
            height: 1px;
            transform: rotate(-45deg);
        }
    }

    .hamburger {
        display: none;
    }

}


@import 'media';